<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Movimentação</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="toogleRendaGasto($event)" value="renda">
    <ion-segment-button value="renda">
      <ion-label>Renda</ion-label>
    </ion-segment-button>
    <ion-segment-button value="gasto">
      <ion-label>Gasto</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Data da Movimentação</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" min="1994-03-14" [(ngModel)]="movimentacao.data"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input [(ngModel)]="movimentacao.label"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" [(ngModel)]="movimentacao.valor"></ion-input>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="salvar()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
